<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.pkspots.app" id="com.pkspots.app" version="1.0.0">
  <name>PKSpots</name>
  <platform name="android">
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="KeepRunning" value="true" />
    <preference name="DisallowOverscroll" value="false" />
    <icon src="res/36.png" density="ldpi" />
    <icon src="res/48.png" density="mdpi" />
    <icon src="res/72.png" density="hdpi" />
    <icon src="res/96.png" density="xhdpi" />
    <icon src="res/144.png" density="xxhdpi" />
    <icon src="res/192.png" density="xxxhdpi" />
  </platform>
  <feature name="Calendar">
    <param name="android-package" value="nl.xservices.plugins.Calendar" />
  </feature>
  <plugin name="cordova-plugin-dialogs" />
  <plugin name="cordova-plugin-mauron85-background-geolocation" />
  <plugin name="cordova-plugin-datepicker" />
  <plugin name="cordova-open"/>
  <plugin name="https://github.com/Moussawi7/Cordova-GPSLocator.git" />
  <plugin name="cordova-plugin-camera" />
  <plugin name="cordova-plugin-imagepicker" />
  <plugin name="cordova-plugin-calendar" />
  <plugin name="cordova-plugin-mapbox">
    <variable name="ACCESS_TOKEN" value="" />
  </plugin>
  <variable name="ACCESS_TOKEN" value="pk.eyJ1IjoibWljaGFlbGVwYXJrb3VyIiwiYSI6ImNpanYyN2l0NDAwMjB1OW00NTBkY3F4Y3gifQ.Pom1NlIj8kR-U8WGNaWcrA" />
  <hook src="hooks/api_key_hook.js" type="before_platform_add" />
</widget>