<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.pkspots" id="com.pkspots" version="1.0.0">
  <name>PKSpots</name>
  <preference name="Fullscreen" value="true" />
  <plugin name="cordova-plugin-dialogs" version="1.1.1" />
  <plugin name="com.google.playservices" />
  <plugin name="cordova-plugin-locationservices" />
  <plugin name="com.pkspots" spec="https://github.com/eclipsesource/tabris-maps.git">
    <variable name="API_KEY_FOR_ANDROID" value="AIzaSyADvxH8GX0uJ9GzRpvAp8_DiDelw_Pz-hM" />
  </plugin>
  <hook src="hooks/api_key_hook.js" type="before_platform_add" />
</widget>