<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.pkspots.app" id="com.pkspots" version="1.0.0">
  <name>PKSpots</name>
  <preference name="Fullscreen" value="true" />
  <plugin name="cordova-plugin-dialogs" version="1.1.1" />
  <plugin name="https://github.com/Moussawi7/Cordova-GPSLocator.git" />
</widget>